[submodule "contrib/deterministic-build/electrum-locale"]
	path = contrib/deterministic-build/electrum-locale
	url = https://github.com/spesmilo/electrum-locale
[submodule "electrum_vtc/www"]
	path = electrum_vtc/www
	url = https://github.com/spesmilo/electrum-http.git
[submodule "electrum_vtc/gui/kivy/theming/atlas"]
	path = electrum_vtc/gui/kivy/theming/atlas
	url = https://github.com/spesmilo/electrum-kivy-atlas
